<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "My Recipes", root_path, class: "navbar-brand", id: "logo" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Humble Beginnings <span class="sr-only">(current)</span></a></li>
        <li><a href="#">About Page</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">The Team</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More Info <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <!-- Can Create Different "Blog Posts" with this info. -->
            <li><a href="#">The Grind</a></li>
            <li><a href="#">Support Group</a></li>
            <li><a href="#">Inspirational Quotes</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">The Right Attitude</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
